@charset "utf-8";

/* common */
html {
    font-size: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none; /* リンクの下線バーを消す */
    line-height: 1.5rem;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: rgb(210, 225, 240);
}

/* component */
/* header */
.nav-list {
    list-style: none; /* リストの点を消す */
}
nav a.btn {
    font-size: 1.5rem;
    display: inline-block;       /* 横幅や高さを持てるようにする */
    padding: .5rem 1rem;          /* 内側余白でボタンっぽく */
    background: none; /* btnクラスの背景の解除 */
    color: black;
}
nav a.btn:hover {
    background-color: rgb(170, 198, 227);
    border-radius: .5rem;
}
/*.user-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid rgb(165, 165, 165);
}*/

/* footer */
.copyright {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 3rem 0;
    margin-top: auto;
}

/* contents */
a.btn
{
    font-size: 2rem;
    display: inline-block;
    padding: .75rem 2rem;
    background-color: deepskyblue;
    color: black;
    border-radius: 8px;
}

.object-center {
    text-align: center;
}