{% extends "base.html" %}
{% load static %}

{% block title %}404 エラー{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/status_error.css' %}">
{% endblock  %}

{% block contents %}
<div style="margin-top:10em"></div>
<div class="container">
    <div class="blur">
        <h1 class="main-title">404 Not Found</h1>
        <div style="margin-top:1rem"></div>
        <p class="sub-text">お探しのページは存在しません。</p>
    </div>
</div>
<div style="margin-top:5rem"></div>
<div style="flex:1"></div>
{% endblock  %}