{% extends "base.html" %}
{% load static %}

{% block title %}ホーム{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block contents %}
<div style="margin-top:1rem"></div>
<h1 class="maintitle">ホーム</h1>
<div style="margin-top:2rem"></div>
<p class="total-text">{{ user.total_amount }}¥</p>
<div style="margin-top:3rem"></div>
<div class="container">
    <a class="btn tile top" href="{% url 'paycash:charge' %}">Charge</a>
    <a class="btn tile" href="#">Pay</a>
    <a class="btn tile bottom" href="{% url 'paycash:history' %}">取引履歴</a>
</div>
<div style="flex:1"></div>
{% endblock  %}