{% extends "base.html" %}
{% load static %}

{% block title %}KobaPay{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block contents %}
<div style="margin-top:8rem"></div>
<div class="container">
    <div class="inner">
        <h1 class="maintitle">KobaPay</h1>
        <div style="margin-top:.5rem"></div>
        <p class="subtext">十一</p>
        <div style="margin-top:5rem;"></div>
        <div class="object-center">
            <a class="btn primary" href="{% url 'account_login' %}">サインイン</a>
        </div>
        <div style="margin-top:2rem"></div>
        <div class="object-center">
            <a class="btn primary" href="{% url 'account_signup' %}">サインアップ</a>
        </div>
    </div>
</div>
<div style="margin-top:5rem"></div>
<div style="flex:1"></div>
{% endblock %}