{% extends "base.html" %}
{% load static %}

{% block title %}取引編集{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/deal.css' %}">
{% endblock %}

{% block contents %}
<div style="margin-top:1rem"></div>
<h1 class="main-title">取引編集</h1>
<div style="margin-top:2rem"></div>
<h1 class="dealtype-text">{{ object.get_deal_type_display }}</h1>
<div style="margin-top:1rem"></div>
<hr style="width:80vw;margin:0 auto">
<div style="margin-top:1rem"></div>
<div class="block">
    {% for field in form %}
        {% for error in field.errors %}
            <p class="message error">{{ field.label }}: {{ error }}</p>
            <div style="margin-bottom:.5rem"></div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p class="message error">{{ error }}</p>
        <div style="margin-botton:.5rem"></div>
    {% endfor %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.amount.label_tag }}
            {{ form.amount }}
        </div>
        <div style="margin-top:1rem"></div>
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div style="margin-top:2rem"></div>
        <button type="submit" class="btn success">更新</button>
        <div style="margin-top:1rem"></div>
        <a class="btn error" href="{% url 'paycash:detail' object.pk %}">キャンセル</a>
    </form>
</div>
<div style="margin-top:5rem"></div>
<div style="flex:1"></div>
{% endblock %}